In [7]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url5 = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#1952"
response5 = requests.get(url5)
soup5 = BeautifulSoup(response5.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response5.status_code}')

# Get all tables in wikitable class
tables5 = soup5.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables5)}')

# Load the 1948 polling table manually by index
df_5 = pd.read_html(str(tables5[4]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df_5.head(250))

# Rename candidate columns for consistency
df_5 = df_5.rename(columns={
    df_5.columns[2]: 'Democratic',
    df_5.columns[1]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df_5.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df_5.dtypes)

# Convert percentage strings to floats
df_5['Democratic'] = df_5['Democratic'].str.replace('%', '').astype(float)
df_5['Republican'] = df_5['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df_5.dtypes)

# Add calculated columns
df_5['Poll_Leading_Margin'] = abs(df_5['Democratic'] - df_5['Republican'])
df_5['Poll_Leader'] = (df_5['Republican'] > df_5['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df_5.head(250))

print(list(df_5.columns))

# Drop the extra columns
df_5 = df_5.drop(columns='Month')
#df_5 = df_5.drop(columns=['Henry A. Wallace (Progressive)\xa0%', 'Strom Thurmond (Dixiecrat)\xa0%'])

print('\nDropped Extra Columns:')
display(df_5.head(250))

# Drop final summary rows (row 10 and 11)
df_5 = df_5.drop(index=[10, 11])
df_5.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (10 & 11):')
display(df_5.tail())

print('\nFinal dtypes:')
display(df_5.dtypes)

# Add year column at the beginning
df_5.insert(0, 'year', 1952)

df_5 = df_5.dropna(subset=['Democratic', 'Republican'], how='all')
df_5 = df_5.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df_5.head(250))

print('\nNumber of Nulls left:')
display(df_5.isnull().sum())

df_5.to_csv("1952_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12055/3706373549.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_5 = pd.read_html(str(tables5[4]))[0]

,Month,Dwight D. Eisenhower (R) %,Adlai Stevenson II (D) %
0,June,59%,31%
1,July,50%,43%
2,August,NaN,NaN
3,September,55%,40%
4,September,55%,41%
5,October,53%,41%
6,October,51%,38%
7,October,48%,39%
8,October,48%,39%
9,October,51%,49%
10,Actual result,55.14%,44.38%
11,Difference between actual result and final poll,+4.14%,-4.62%

Renamed Columns Table Preview:

                                              Month Republican Democratic
0                                              June        59%        31%
1                                              July        50%        43%
2                                            August        NaN        NaN
3                                         September        55%        40%
4                                         September        55%        41%
5                                           October        53%        41%
6                                           October        51%        38%
7                                           October        48%        39%
8                                           October        48%        39%
9                                           October        51%        49%
10                                    Actual result     55.14%     44.38%
11  Difference between actual result and final poll     +4.14%     -4.62%

Data Types Before Conversion:

Month         object
Republican    object
Democratic    object
dtype: object

Data Types After Conversion:

Month          object
Republican    float64
Democratic    float64
dtype: object

Table with New Columns:

,Month,Republican,Democratic,Poll_Leading_Margin,Poll_Leader
0,June,59.00,31.00,28.00,1
1,July,50.00,43.00,7.00,1
2,August,NaN,NaN,NaN,0
3,September,55.00,40.00,15.00,1
4,September,55.00,41.00,14.00,1
5,October,53.00,41.00,12.00,1
6,October,51.00,38.00,13.00,1
7,October,48.00,39.00,9.00,1
8,October,48.00,39.00,9.00,1
9,October,51.00,49.00,2.00,1
10,Actual result,55.14,44.38,10.76,1
11,Difference between actual result and final poll,4.14,-4.62,8.76,1

['Month', 'Republican', 'Democratic', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0        59.00       31.00                28.00            1
1        50.00       43.00                 7.00            1
2          NaN         NaN                  NaN            0
3        55.00       40.00                15.00            1
4        55.00       41.00                14.00            1
5        53.00       41.00                12.00            1
6        51.00       38.00                13.00            1
7        48.00       39.00                 9.00            1
8        48.00       39.00                 9.00            1
9        51.00       49.00                 2.00            1
10       55.14       44.38                10.76            1
11        4.14       -4.62                 8.76            1

After Dropping Final Rows (10 & 11):

   Republican  Democratic  Poll_Leading_Margin  Poll_Leader
5        53.0        41.0                 12.0            1
6        51.0        38.0                 13.0            1
7        48.0        39.0                  9.0            1
8        48.0        39.0                  9.0            1
9        51.0        49.0                  2.0            1

Final dtypes:

Republican             float64
Democratic             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

   year  Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0  1952        59.0        31.0                 28.0            1
1  1952        50.0        43.0                  7.0            1
2  1952        55.0        40.0                 15.0            1
3  1952        55.0        41.0                 14.0            1
4  1952        53.0        41.0                 12.0            1
5  1952        51.0        38.0                 13.0            1
6  1952        48.0        39.0                  9.0            1
7  1952        48.0        39.0                  9.0            1
8  1952        51.0        49.0                  2.0            1

Number of Nulls left:

year                   0
Republican             0
Democratic             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64